.BodyContent {
    background-color: #333333;
    color: whitesmoke;
    padding-bottom: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.HeaderContentBg1{
    background-color: rgba(0,0,0,0.5);
    background-image: url("assets/background.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;

}

.Spacer {
    margin-top: 4em;
    background-color: whitesmoke;
    padding-top: 0.25em;
    margin-bottom: 4em;
}

.SpacerSmall {
    margin-top: 2em;
    background-color: whitesmoke;
    padding-top: 0.06em;
    margin-bottom: 2em;
}

.SectionTitle {
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 3em;
    padding-left: 4em;
    background-image: linear-gradient(to right, #00355F , #00355F);
    border-radius: 25px;
    margin-bottom: -1.5em;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Section .SectionContent {
    padding: 4em;

}

#educationlist {
    list-style: none;
}

.ImageShadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ImageCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.navbar {
    background-color: #00355F;
}

.navbar a{
    color: white;
}

.navbar-brand {
    color: white !important;
}

.breadcrumb{
    padding: 0.25em !important;
    margin-bottom: 0 !important;
    background-color: #212121;
    color: whitesmoke;
}

.ProfileImage {
    max-width: 128px;
}

.ProfileSection {
    margin: 2em;
    padding: 2em;
}

.table {
    color: white !important;
}

.footer {
    background-color: #1D1D1D;
    padding-bottom: 5em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.FooterHeader {
    background-color: white;
    padding-top: 1em;
}
.Footer {
    padding: 2em;
    background-color: #1D1D1D;
    margin-bottom: -1em;
    color:white;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.report {
    padding-top: 2em;
    padding-bottom: 2em;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    padding: 1em;

}

.RowHeader {
    background-color: #00355F;
    margin-left: -4em;
    margin-right: -4em;
    padding:1em;
    padding-left: 4em;
}