.BodyContent {
    background-color: #333333;
    color: whitesmoke;
    padding-bottom: 10%;
}

.HeaderContentBg1{
    background-image: url("assets/headerbg2.webp");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 16em;
}

.Spacer {
    margin-top: 4em;
    background-color: whitesmoke;
    padding-top: 0.25em;
    margin-bottom: 4em;
}

.Section .SectionTitle {
    padding: 1em;
}

.Section .SectionContent {
    padding: 1em;
}

#educationlist {
    list-style: none;
}

.ImageShadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ImageCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.navbar {
    background-color: #00355F;
}

.navbar a{
    color: white;
}

.navbar-brand {
    color: white !important;
}

.breadcrumb{
    padding: 0.25em!important;
    margin-bottom: 0 !important;
    background-color: #212121;
    color: whitesmoke;
}

.ProfileImage {
    max-width: 128px;
}